.book {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.496);
  max-width: 250px;
  height: 450px;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
  transition: transform 0.3s;
}

.img {
  width: 100%;
  object-fit: cover;
  max-height: 250px;
}

.book:hover {
  transform: scale(1.02);
}

.info {
  color: black;
  text-align: center;
  padding: 0 10px;
}

.title {
  margin-bottom: 10px;
}

.subInfo {
  display: flex;
  justify-content: space-between;
}
