@import url("./fonts.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "TT Commons", sans-serif;
  background-color: black;
  display: flex;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px;
  color: white;
  display: flex;
  gap: 30px;
  position: relative;
}

.logo {
  position: absolute;
  top: 40px;
  right: 40px;
}

.profile {
  max-width: 322px;
}

.profile__photo {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 355px;
  object-fit: cover;
}

.profile__info {
  position: relative;
  background-color: #f51b1b;
  padding: 40px 60px 158px 24px;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
  transform: translateY(-20px);
  z-index: 10;
}

.profile__info::after {
  content: "";
  width: 64px;
  height: 20px;
  background-image: url("assets/arrow-up.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: -19px;
  left: 50%;
  transform: translateX(-50%);
}

.profile__name {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}

.profile__age {
  font-size: 20px;
  margin-bottom: 40px;
}

.profile__contacts {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile__contacts-link {
  display: flex;
  align-items: center;
  gap: 14px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.about__me {
  font-size: 20px;
  margin-bottom: 32px;
}

.about__me ol {
  list-style: inside;
  list-style-type: decimal;
  line-height: 140%;
}

.about__me ul {
  list-style: inside;
  list-style-type: disc;
  line-height: 140%;
}

.about__info {
  position: relative;
  border: 1px solid white;
  padding: 48px 48px 48px 28px;
}

.about__info::after {
  content: "";
  width: 60px;
  height: 19px;
  background-image: url("assets/arrow-down.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: -1px;
  left: 5%;
}

.about__info_container-item {
  display: flex;
  align-items: first baseline;
  gap: 72px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.about__info-title {
  flex-basis: 150px;
}

.about__info_container-item:last-child {
  border-bottom: none;
}

.about__info_container-item:not(:last-child) {
  margin-bottom: 20px;
}

.about__info-title {
  font-size: 20px;
}

.about__info-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
}

.about__info_container-item:last-child .about__info-item {
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
}

.about__info-item {
  font-weight: 400;
}

.about__info-item p {
  opacity: 40%;
  font-weight: 100;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 90px 20px 60px 20px;
    gap: 0;
  }

  .logo {
    top: 20px;
    left: 20px;
  }

  .profile {
    max-width: 100%;
  }

  .profile__info {
    padding-bottom: 42px;
  }

  .about__info::after {
    top: -1px;
    left: 50%;
    transform: translateX(-50%);
  }

  .about__info_container-item {
    flex-direction: column;
    gap: 16px;
  }
  .about__info-title {
    flex-basis: 0;
  }
}
