.button {
  border: none;
  padding: 15px 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  transition: all 0.3s;
  border-radius: 10px;
}

.button:hover {
  background-color: black;
}

.active {
  background-color: rgb(0, 94, 9);
}

.button.active:hover {
  background-color: rgb(162, 1, 1);
}
